In [4]:
pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.37-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.6 kB)
Collecting greenlet!=0.4.17 (from sqlalchemy)
  Downloading greenlet-3.1.1-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (3.8 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/codespace/.local/lib/python3.12/site-packages (from sqlalchemy) (4.12.2)
Downloading SQLAlchemy-2.0.37-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.3/3.3 MB 41.1 MB/s eta 0:00:00
Downloading greenlet-3.1.1-cp312-cp312-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (613 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 613.1/613.1 kB 24.4 MB/s eta 0:00:00
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-3.1.1 sqlalchemy-2.0.37
Note: you may need to restart the kernel to use updated packages.

In [7]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Note: you may need to restart the kernel to use updated packages.

In [9]:
!pip install pymysql

Requirement already satisfied: pymysql in /usr/local/python/3.12.1/lib/python3.12/site-packages (1.1.1)

In [5]:
import pandas as pd
import sqlalchemy as db
from sqlalchemy import text
import pandas as pd

In [66]:
engine = db.create_engine("mysql+pymysql://root:root@127.0.0.1:3310/db_movies_netflix_transact")
conn = engine.connect()

In [13]:
from sqlalchemy.exc import SQLAlchemyError

try:
    engine = db.create_engine("mysql+pymysql://root:root@127.0.0.1:3310/db_movies_netflix_transact")
    conn = engine.connect()
    print("Conexión exitosa")
except SQLAlchemyError as e:
    print(f"Error al conectar: {e}")

Conexión exitosa

# Cargamos datos a la dimension Movie

In [14]:
query = """
SELECT 
    movie.movieID as movieID, movie.movieTitle as title, movie.releaseDate as releaseDate, 
    gender.name as gender , person.name as participantName, participant.participantRole as roleparticipant 
FROM movie 
INNER JOIN participant 
ON movie.movieID=participant.movieID
INNER JOIN person
ON person.personID = participant.personID
INNER JOIN movie_gender 
ON movie.movieID = movie_gender.movieID
INNER JOIN gender 
ON movie_gender.genderID = gender.genderID
"""

In [15]:
movies_data=pd.read_sql(query, con=conn) 
movies_data["movieID"]=movies_data["movieID"].astype('int')
movies_data

,movieID,title,releaseDate,gender,participantName,roleparticipant
0,80192187,Triple Frontier,2019-04-12,Action,Joseph Chavez Pineda,Actor
1,81157374,Run,2021-05-21,Adventure,aria Lopez Gutierrez,Director
2,80210920,The Mother,2023-01-05,Drama,Maria Alejandra Navarro,Actor

In [16]:
movies_award=pd.read_csv("./data/Awards_movie.csv")
movies_award["movieID"]=movies_award["movieID"].astype('int')
movies_award.rename(columns={"Aware":"Award"}, inplace=True)
movies_award

    movieID  IdAward   Award
0  80210920        0   Oscar
1  81157374        1  Grammy
2  80192187        2   Oscar

In [17]:
movie_data=pd.merge(movies_data,movies_award, left_on="movieID", right_on="movieID")
movie_data

,movieID,title,releaseDate,gender,participantName,roleparticipant,IdAward,Award
0,80192187,Triple Frontier,2019-04-12,Action,Joseph Chavez Pineda,Actor,2,Oscar
1,81157374,Run,2021-05-21,Adventure,aria Lopez Gutierrez,Director,1,Grammy
2,80210920,The Mother,2023-01-05,Drama,Maria Alejandra Navarro,Actor,0,Oscar

In [69]:
engine = db.create_engine("mysql+pymysql://root:root@127.0.0.1:3310/dw_netflix")
conn = engine.connect()

In [20]:

movie_data = movie_data.rename(columns={'releaseDate': 'releaseMovie', 'Award': 'awardMovie'})

In [21]:
movie_data

,movieID,title,releaseMovie,gender,participantName,roleparticipant,IdAward,awardMovie
0,80192187,Triple Frontier,2019-04-12,Action,Joseph Chavez Pineda,Actor,2,Oscar
1,81157374,Run,2021-05-21,Adventure,aria Lopez Gutierrez,Director,1,Grammy
2,80210920,The Mother,2023-01-05,Drama,Maria Alejandra Navarro,Actor,0,Oscar

In [22]:
movie_data = movie_data.drop(columns=['IdAward'])

In [23]:
movie_data

,movieID,title,releaseMovie,gender,participantName,roleparticipant,awardMovie
0,80192187,Triple Frontier,2019-04-12,Action,Joseph Chavez Pineda,Actor,Oscar
1,81157374,Run,2021-05-21,Adventure,aria Lopez Gutierrez,Director,Grammy
2,80210920,The Mother,2023-01-05,Drama,Maria Alejandra Navarro,Actor,Oscar

In [24]:
movie_data.to_sql('dimMovie',conn,if_exists='append', index=False)

3

# Cargamos datos a la dimension USER

In [25]:
users = pd.read_csv("./data/users.csv", sep='|')
users

      idUser     username      country subscription
0    1002331      user123          USA      Premium
1    1002332  gamerGirl97       Canada        Basic
2    1002333   techMaster           UK      Premium
3    1002334    soccerFan       Brazil        Basic
4    1002335    travelBug    Australia      Premium
5    1002336   musicLover       France        Basic
6    1002337     foodie88        Italy      Premium
7    1002338   bookWorm23      Germany        Basic
8    1002339  fitnessJunk       Mexico      Premium
9   10023310    movieBuff        Japan        Basic
10  10023311  artAficiona        Spain      Premium
11  10023312   petLover99  Netherlands        Basic
12  10023313  fashionista   SouthKorea      Premium
13  10023314  codingNinja        India        Basic
14  10023315  natureLover       Norway      Premium
15  10023316  coffeeAddct     Colombia        Basic
16  10023317     beachBum      Bahamas      Premium
17  10023318  skiEnthusst  Switzerland        Basic
18  10023319     homeChef   NewZealand      Premium
19  10023320   yogiMaster     Thailand        Basic

In [26]:
users = users.rename(columns={'idUser': 'userID'})
users

      userID     username      country subscription
0    1002331      user123          USA      Premium
1    1002332  gamerGirl97       Canada        Basic
2    1002333   techMaster           UK      Premium
3    1002334    soccerFan       Brazil        Basic
4    1002335    travelBug    Australia      Premium
5    1002336   musicLover       France        Basic
6    1002337     foodie88        Italy      Premium
7    1002338   bookWorm23      Germany        Basic
8    1002339  fitnessJunk       Mexico      Premium
9   10023310    movieBuff        Japan        Basic
10  10023311  artAficiona        Spain      Premium
11  10023312   petLover99  Netherlands        Basic
12  10023313  fashionista   SouthKorea      Premium
13  10023314  codingNinja        India        Basic
14  10023315  natureLover       Norway      Premium
15  10023316  coffeeAddct     Colombia        Basic
16  10023317     beachBum      Bahamas      Premium
17  10023318  skiEnthusst  Switzerland        Basic
18  10023319     homeChef   NewZealand      Premium
19  10023320   yogiMaster     Thailand        Basic

In [27]:
users.to_sql('dimUser',conn,if_exists='append', index=False)

20

# Cargamos datos a la tabla de hechos

In [28]:
users_id=users["userID"]
movies_id=movies_data["movieID"]

In [29]:
watchs_data=pd.merge(users_id,movies_id, how="cross")
watchs_data

      userID   movieID
0    1002331  80192187
1    1002331  81157374
2    1002331  80210920
3    1002332  80192187
4    1002332  81157374
5    1002332  80210920
6    1002333  80192187
7    1002333  81157374
8    1002333  80210920
9    1002334  80192187
10   1002334  81157374
11   1002334  80210920
12   1002335  80192187
13   1002335  81157374
14   1002335  80210920
15   1002336  80192187
16   1002336  81157374
17   1002336  80210920
18   1002337  80192187
19   1002337  81157374
20   1002337  80210920
21   1002338  80192187
22   1002338  81157374
23   1002338  80210920
24   1002339  80192187
25   1002339  81157374
26   1002339  80210920
27  10023310  80192187
28  10023310  81157374
29  10023310  80210920
30  10023311  80192187
31  10023311  81157374
32  10023311  80210920
33  10023312  80192187
34  10023312  81157374
35  10023312  80210920
36  10023313  80192187
37  10023313  81157374
38  10023313  80210920
39  10023314  80192187
40  10023314  81157374
41  10023314  80210920
42  10023315  80192187
43  10023315  81157374
44  10023315  80210920
45  10023316  80192187
46  10023316  81157374
47  10023316  80210920
48  10023317  80192187
49  10023317  81157374
50  10023317  80210920
51  10023318  80192187
52  10023318  81157374
53  10023318  80210920
54  10023319  80192187
55  10023319  81157374
56  10023319  80210920
57  10023320  80192187
58  10023320  81157374
59  10023320  80210920

In [30]:
import random
from datetime import datetime, timedelta
import random

def gen_rating():
    # Generar un número aleatorio entre 0 y 5 con 1 solo decimal
    numero_aleatorio = round(random.uniform(0, 5), 1)
    # Mostrar el número aleatorio
    return numero_aleatorio

def gen_timestamp():
    # Generar un timestamp aleatorio dentro de un rango específico
    start_date = datetime(2024, 1, 15)
    end_date = datetime(2024, 4, 6)

    # Calcular un valor aleatorio entre start_date y end_date
    random_date = start_date + timedelta(seconds=random.randint(0, int((end_date - start_date).total_seconds())))

    # Mostrar el timestamp aleatorio
    return random_date

In [31]:
watchs_data["rating"]=watchs_data["movieID"].apply(lambda x: gen_rating())
watchs_data["timestamp"]=watchs_data["userID"].apply(lambda x: gen_timestamp())

In [32]:
watchs_data

      userID   movieID  rating           timestamp
0    1002331  80192187     1.3 2024-03-27 18:22:31
1    1002331  81157374     3.8 2024-02-22 19:09:26
2    1002331  80210920     1.6 2024-04-02 02:43:36
3    1002332  80192187     0.0 2024-01-16 05:14:54
4    1002332  81157374     3.5 2024-02-06 23:28:44
5    1002332  80210920     2.9 2024-02-15 03:48:09
6    1002333  80192187     3.7 2024-01-22 19:34:08
7    1002333  81157374     1.6 2024-01-21 10:34:10
8    1002333  80210920     1.1 2024-01-22 17:01:17
9    1002334  80192187     1.4 2024-03-01 10:09:44
10   1002334  81157374     4.9 2024-03-29 17:14:23
11   1002334  80210920     4.7 2024-03-25 00:23:01
12   1002335  80192187     4.6 2024-02-12 05:07:05
13   1002335  81157374     3.2 2024-02-15 11:00:53
14   1002335  80210920     0.3 2024-02-15 14:50:16
15   1002336  80192187     4.2 2024-01-27 02:51:18
16   1002336  81157374     2.3 2024-03-28 06:36:32
17   1002336  80210920     3.4 2024-03-03 05:45:46
18   1002337  80192187     0.5 2024-02-21 11:20:33
19   1002337  81157374     3.2 2024-03-10 05:36:19
20   1002337  80210920     1.3 2024-04-02 04:20:05
21   1002338  80192187     0.8 2024-02-13 22:59:31
22   1002338  81157374     1.1 2024-01-24 05:42:02
23   1002338  80210920     1.3 2024-03-24 10:31:00
24   1002339  80192187     4.9 2024-02-28 12:49:45
25   1002339  81157374     4.6 2024-03-06 10:41:29
26   1002339  80210920     0.9 2024-01-16 09:21:49
27  10023310  80192187     4.5 2024-03-20 13:36:03
28  10023310  81157374     3.5 2024-02-26 16:08:06
29  10023310  80210920     2.7 2024-01-30 00:16:12
30  10023311  80192187     0.5 2024-03-02 23:12:16
31  10023311  81157374     1.9 2024-04-04 21:48:36
32  10023311  80210920     3.7 2024-03-11 16:10:38
33  10023312  80192187     2.0 2024-03-01 09:34:26
34  10023312  81157374     0.1 2024-03-07 04:39:25
35  10023312  80210920     1.9 2024-03-12 12:42:51
36  10023313  80192187     1.9 2024-02-28 23:12:13
37  10023313  81157374     3.6 2024-03-23 19:48:49
38  10023313  80210920     0.7 2024-03-11 22:21:02
39  10023314  80192187     1.1 2024-03-23 11:25:39
40  10023314  81157374     1.3 2024-02-27 02:21:14
41  10023314  80210920     1.5 2024-03-10 23:55:39
42  10023315  80192187     1.5 2024-03-29 13:35:00
43  10023315  81157374     2.4 2024-03-28 22:14:34
44  10023315  80210920     2.1 2024-03-30 00:16:26
45  10023316  80192187     2.1 2024-01-22 09:37:12
46  10023316  81157374     3.6 2024-03-14 09:49:36
47  10023316  80210920     4.6 2024-02-14 03:41:27
48  10023317  80192187     4.7 2024-03-02 11:46:12
49  10023317  81157374     4.6 2024-02-28 11:34:48
50  10023317  80210920     3.8 2024-03-30 05:32:45
51  10023318  80192187     3.7 2024-03-25 21:55:17
52  10023318  81157374     1.8 2024-01-28 20:51:56
53  10023318  80210920     4.5 2024-01-18 00:15:46
54  10023319  80192187     0.3 2024-01-22 14:17:46
55  10023319  81157374     4.1 2024-02-29 18:30:06
56  10023319  80210920     1.9 2024-02-04 19:15:16
57  10023320  80192187     0.3 2024-04-03 03:34:40
58  10023320  81157374     0.4 2024-02-15 10:50:59
59  10023320  80210920     0.8 2024-02-06 12:57:38

In [33]:
# Cargamos tabla de hechos
watchs_data.to_sql("FactWatchs", conn, if_exists='append', index=False)

60

In [ ]:
### SET FOREIGN_KEY_CHECKS = 0;
### SET FOREIGN_KEY_CHECKS = 1;

#Código para crear la dimensión dimTiempo

In [68]:
# Extraemos los datos de la tabla de hechos
fact_watchs = pd.read_sql("SELECT DISTINCT timestamp FROM FactWatchs", con=conn)

ProgrammingError: (pymysql.err.ProgrammingError) (1146, "Table 'db_movies_netflix_transact.FactWatchs' doesn't exist")
[SQL: SELECT DISTINCT timestamp FROM FactWatchs]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [61]:
# Asegurarnos de que el campo 'timestamp' sea del tipo datetime
fact_watchs['timestamp'] = pd.to_datetime(fact_watchs['timestamp'])

In [62]:
# Creamos las columnas para la dimensión de tiempo
dim_tiempo = pd.DataFrame()
dim_tiempo['timeID'] = fact_watchs['timestamp'].dt.strftime('%Y%m%d%H%M%S').astype('int')  # ID único basado en la marca de tiempo
dim_tiempo['date'] = fact_watchs['timestamp'].dt.date
dim_tiempo['timestamp'] = fact_watchs['timestamp']  # Agregamos la columna 'timestamp' igual a la de FactWatchs
dim_tiempo['year'] = fact_watchs['timestamp'].dt.year
dim_tiempo['month'] = fact_watchs['timestamp'].dt.month
dim_tiempo['day'] = fact_watchs['timestamp'].dt.day
dim_tiempo['quarter'] = fact_watchs['timestamp'].dt.quarter
dim_tiempo['day_of_week'] = fact_watchs['timestamp'].dt.dayofweek + 1  # 1=Lunes, 7=Domingo
dim_tiempo['day_name'] = fact_watchs['timestamp'].dt.day_name()
dim_tiempo['week_of_year'] = fact_watchs['timestamp'].dt.isocalendar().week
dim_tiempo['is_weekend'] = fact_watchs['timestamp'].dt.dayofweek.isin([5, 6])  # True si es sábado o domingo

In [63]:
# Eliminamos duplicados (en caso de que existan)
dim_tiempo = dim_tiempo.drop_duplicates()

In [64]:
dim_tiempo

,timeID,date,timestamp,year,month,day,quarter,day_of_week,day_name,week_of_year,is_weekend
0,20240327182231,2024-03-27,2024-03-27 18:22:31,2024,3,27,1,3,Wednesday,13,False
1,20240222190926,2024-02-22,2024-02-22 19:09:26,2024,2,22,1,4,Thursday,8,False
2,20240402024336,2024-04-02,2024-04-02 02:43:36,2024,4,2,2,2,Tuesday,14,False
3,20240116051454,2024-01-16,2024-01-16 05:14:54,2024,1,16,1,2,Tuesday,3,False
4,20240206232844,2024-02-06,2024-02-06 23:28:44,2024,2,6,1,2,Tuesday,6,False
5,20240215034809,2024-02-15,2024-02-15 03:48:09,2024,2,15,1,4,Thursday,7,False
6,20240122193408,2024-01-22,2024-01-22 19:34:08,2024,1,22,1,1,Monday,4,False
7,20240121103410,2024-01-21,2024-01-21 10:34:10,2024,1,21,1,7,Sunday,3,True
8,20240122170117,2024-01-22,2024-01-22 17:01:17,2024,1,22,1,1,Monday,4,False
9,20240301100944,2024-03-01,2024-03-01 10:09:44,2024,3,1,1,5,Friday,9,False
10,20240329171423,2024-03-29,2024-03-29 17:14:23,2024,3,29,1,5,Friday,13,False
11,20240325002301,2024-03-25,2024-03-25 00:23:01,2024,3,25,1,1,Monday,13,False
12,20240212050705,2024-02-12,2024-02-12 05:07:05,2024,2,12,1,1,Monday,7,False
13,20240215110053,2024-02-15,2024-02-15 11:00:53,2024,2,15,1,4,Thursday,7,False
14,20240215145016,2024-02-15,2024-02-15 14:50:16,2024,2,15,1,4,Thursday,7,False
15,20240127025118,2024-01-27,2024-01-27 02:51:18,2024,1,27,1,6,Saturday,4,True
16,20240328063632,2024-03-28,2024-03-28 06:36:32,2024,3,28,1,4,Thursday,13,False
17,20240303054546,2024-03-03,2024-03-03 05:45:46,2024,3,3,1,7,Sunday,9,True
18,20240221112033,2024-02-21,2024-02-21 11:20:33,2024,2,21,1,3,Wednesday,8,False
19,20240310053619,2024-03-10,2024-03-10 05:36:19,2024,3,10,1,7,Sunday,10,True
20,20240402042005,2024-04-02,2024-04-02 04:20:05,2024,4,2,2,2,Tuesday,14,False
21,20240213225931,2024-02-13,2024-02-13 22:59:31,2024,2,13,1,2,Tuesday,7,False
22,20240124054202,2024-01-24,2024-01-24 05:42:02,2024,1,24,1,3,Wednesday,4,False
23,20240324103100,2024-03-24,2024-03-24 10:31:00,2024,3,24,1,7,Sunday,12,True
24,20240228124945,2024-02-28,2024-02-28 12:49:45,2024,2,28,1,3,Wednesday,9,False
25,20240306104129,2024-03-06,2024-03-06 10:41:29,2024,3,6,1,3,Wednesday,10,False
26,20240116092149,2024-01-16,2024-01-16 09:21:49,2024,1,16,1,2,Tuesday,3,False
27,20240320133603,2024-03-20,2024-03-20 13:36:03,2024,3,20,1,3,Wednesday,12,False
28,20240226160806,2024-02-26,2024-02-26 16:08:06,2024,2,26,1,1,Monday,9,False
29,20240130001612,2024-01-30,2024-01-30 00:16:12,2024,1,30,1,2,Tuesday,5,False
30,20240302231216,2024-03-02,2024-03-02 23:12:16,2024,3,2,1,6,Saturday,9,True
31,20240404214836,2024-04-04,2024-04-04 21:48:36,2024,4,4,2,4,Thursday,14,False
32,20240311161038,2024-03-11,2024-03-11 16:10:38,2024,3,11,1,1,Monday,11,False
33,20240301093426,2024-03-01,2024-03-01 09:34:26,2024,3,1,1,5,Friday,9,False
34,20240307043925,2024-03-07,2024-03-07 04:39:25,2024,3,7,1,4,Thursday,10,False
35,20240312124251,2024-03-12,2024-03-12 12:42:51,2024,3,12,1,2,Tuesday,11,False
36,20240228231213,2024-02-28,2024-02-28 23:12:13,2024,2,28,1,3,Wednesday,9,False
37,20240323194849,2024-03-23,2024-03-23 19:48:49,2024,3,23,1,6,Saturday,12,True
38,20240311222102,2024-03-11,2024-03-11 22:21:02,2024,3,11,1,1,Monday,11,False
39,20240323112539,2024-03-23,2024-03-23 11:25:39,2024,3,23,1,6,Saturday,12,True
40,20240227022114,2024-02-27,2024-02-27 02:21:14,2024,2,27,1,2,Tuesday,9,False
41,20240310235539,2024-03-10,2024-03-10 23:55:39,2024,3,10,1,7,Sunday,10,True
42,20240329133500,2024-03-29,2024-03-29 13:35:00,2024,3,29,1,5,Friday,13,False
43,20240328221434,2024-03-28,2024-03-28 22:14:34,2024,3,28,1,4,Thursday,13,False
44,20240330001626,2024-03-30,2024-03-30 00:16:26,2024,3,30,1,6,Saturday,13,True
45,20240122093712,2024-01-22,2024-01-22 09:37:12,2024,1,22,1,1,Monday,4,False
46,20240314094936,2024-03-14,2024-03-14 09:49:36,2024,3,14,1,4,Thursday,11,False
47,20240214034127,2024-02-14,2024-02-14 03:41:27,2024,2,14,1,3,Wednesday,7,False
48,20240302114612,2024-03-02,2024-03-02 11:46:12,2024,3,2,1,6,Saturday,9,True
49,20240228113448,2024-02-28,2024-02-28 11:34:48,2024,2,28,1,3,Wednesday,9,False
50,20240330053245,2024-03-30,2024-03-30 05:32:45,2024,3,30,1,6,Saturday,13,True
51,20240325215517,2024-03-25,2024-03-25 21:55:17,2024,3,25,1,1,Monday,13,False
52,20240128205156,2024-01-28,2024-01-28 20:51:56,2024,1,28,1,7,Sunday,4,True
53,20240118001546,2024-01-18,2024-01-18 00:15:46,2024,1,18,1,4,Thursday,3,False
54,20240122141746,2024-01-22,2024-01-22 14:17:46,2024,1,22,1,1,Monday,4,False
55,20240229183006,2024-02-29,2024-02-29 18:30:06,2024,2,29,1,4,Thursday,9,False
56,20240204191516,2024-02-04,2024-02-04 19:15:16,2024,2,4,1,7,Sunday,5,True
57,20240403033440,2024-04-03,2024-04-03 03:34:40,2024,4,3,2,3,Wednesday,14,False
58,20240215105059,2024-02-15,2024-02-15 10:50:59,2024,2,15,1,4,Thursday,7,False
59,20240206125738,2024-02-06,2024-02-06 12:57:38,2024,2,6,1,2,Tuesday,6,False

In [70]:
# Cargamos la dimensión en la base de datos
dim_tiempo.to_sql('dimTiempo', conn, if_exists='append', index=False)

60